*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    display: block;
    width: 280px;
    height: 450px;
    overflow: hidden;
    /* background-color: #333333; */
    background-color: transparent;
    opacity: 0.9;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.page{
    position: relative;
    padding: 2.2rem 0 0rem;
    color: #2C94E4;
    border: 0.2rem solid #FB7299;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .title{
        font-size: 1.2rem;
        // font-weight: normal;
        position: absolute;
        background-color: #FB7299;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        line-height: 1;
    }

    form{
        position: relative;
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 1rem 0.5rem 1rem;
        overflow-y: auto;
        input:focus, input:active, button:focus, button:active{
            // outline: none;
            outline-style: solid;
            outline-width: 2px;
            outline-color: #FB7299;
            outline-offset: -2px;
        }
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p{
            display: block;
            width: 85%;
            font-weight: bolder;
            color: rgba(112,77,174, 1.0);
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    
        input[type="text"]{
            display: block;
            width: 85%;
            height: 1.8rem;
            border-radius: 0.35rem;
            margin-bottom: 0.875rem;
            color: #2C94E4;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            border: 2px solid rgba(112,198,157, 1);
            background-color: rgba(239, 239, 239, 0.6);
            &::placeholder {
                color: #797f84;
            }
        }

        input[type="radio"]{
            display: none;
            border-radius: 0.4rem;
            & + span{
                padding: 0.1rem 0.4rem;
                border: 2px solid transparent;                
                border-radius: 0.4rem;
            }
            &:checked  + span{
                border: 2px solid #FB7299;
            }
        }

        input:disabled{
            background-color: rgba(112,77,174, 0.25);
        }

        .radiocontainer{
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            margin-bottom: 0.5rem;
            padding: 0.1rem 0.2rem;
            input{
                margin: 0 1rem;
                zoom: 140%;
                opacity: 0.6;
            }
            span{
                font-size: 0.8rem;
                display: inline-block;
                margin-right: 1rem;
            }
        }
    
        .pathscontainer{
            input{
                margin-bottom: 0.5rem;
            }
            input:last-child{
                margin-bottom: 0.2rem;
            }
            .icons{
                width: 85%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 0.2rem;
                margin-bottom: 0.5rem;
                i{
                    font-size: 1.5rem;
                    margin-left: 0.75rem;
                    border: 2px solid rgba($color: #FB7299, $alpha: 0.7);
                    border-radius: 4px;
                    background-color: rgba($color: #FB7299, $alpha: 0.2);
                    line-height: 1;
                    padding: 0.1rem 0.1rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    
        button{
            margin-top: 1rem;
            display: block;
            width: 85%;
            height: 2rem;
            background-color: rgba($color: #2C94E4, $alpha: 1);
            color: white;
            border-radius: 0.5rem;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.modalLayer{
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -10;
    padding-top: 2.2rem;
    background-color: white;
    opacity: 0.65;
}

.bgLayer{
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -20;
    background-image: url('./assets/photo.jpeg');
    background-repeat: no-repeat;
    background-position: 50%, 37%;
    background-size: auto 100%;
}